body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background-image: url('img/fondo.jpg'); /* Asegúrate de que la imagen esté en la carpeta correcta */
    background-size: cover;  /* Esto asegura que la imagen cubra toda la pantalla */
    background-position: center center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.gallery-container img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

}
